Replace url.QueryEscape() with url.PathEscape()

This is a subtle bug: https://go.dev/play/p/LZdsnzZkgKH

With `QueryEscape()` spaces are encoded to `+`

With `PathEscape()` spaces are encoded to `%20`

Affects a few other characters too, but space is clearly the most likely use-case that could be hit.

I think its safe to assume TUF is targetting the URL paths, not queries.  Therefore correct handling by HTTP servers is only really assured when using `PathEscape()`.

RFC 3396 Section 2.3 :  https://www.rfc-editor.org/rfc/rfc3986#section-2.3

PR #675 

Thanks for filing this. Agree, the path to the target is part of the path, not the query.

No probs. Thanks for the merge ❤ , I'll close this.